.topo {
    align-items: center;
}

.topo h1 {
    position: relative;
    top: 20px;
}

.botaoPrincipal {
    position: absolute;
    right: 15px;
    z-index: 2;
    cursor: pointer;
}

.botaoSecundario {
    width: 100%;
}