.topo {
    align-items: center;
}

.topo h1 {
    position: relative;
    top: 20px;
}

.botaoPrincipal {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.botaoSecundario {
    width: 100%;
}

.modal-container {
    display: flex;
}

.modal-button-container {
    display: flex;
}

.modal-button {
    width: 10rem;
    align-items: flex-end;
    margin-left: auto;
    margin-top: 10px;
}